
    <%- include('../includes/movies-header.ejs') %>
    <% if(editing) { %>
        <div>
            <h3><%= pageTitle %></h3>
        </div>
    <% } %>
    <div class="movie-form">
        <%# If we are on "add movie", the form action acts as normal post request. 
        If we are on "edit movie", the form action is "put" req, therefore execute js function for that. 
        %>
        <% if(editing) { %>
        <form onsubmit="handleEditMovie(event)">
        <% } else {%>   
        <form action="/movies" method="post">
        <% } %> 
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value='<%= editing ? movie.name : undefined %>'>
            </div>
         
            <div>
                <label for="genres">Genres</label>
                <input type="text" name="genres" id="genres" value='<%= editing ? movie.genres : undefined %>'>
            </div>

            <div>
                <label for="image">Image Url</label>
                <input type="text" name="image" id="image" value='<%= editing ? movie.image : undefined %>'>
            </div>

            <div>
                <label for="premiered">Premiered</label>
                <input type="date" name="premiered" id="premiered" value='<%= editing ? movie.premiered : undefined %>'>
            </div>
            <% if(editing) { %>
            <input type="hidden" name="id" value="<%= movie._id %>">
            <% } %>  
            <div>
                <button type="submit"><%= path==='/movies/add-movie' ? 'Add Movie' : 'Edit Movie' %></button>
                <button onclick="location.href = '/movies'; return false;">Cancel</button>
            </div>
            
        </form>
        
    </div>


</main>


<script src="/js/movies.js"></script>
<%- include('../includes/end.ejs') %>
