<%- include('../includes/head.ejs') %>
<%- include('../includes/body-main-header.ejs') %>

    <main>
        <div class="container">
            <h1><%= pageTitle %></h1>
            <div id="error-message" class="error"></div>
            <div>
                <form onsubmit='<%= login ? "handleLogin(event)" : "handleSignUp(event)" %>'>
                    <div>
                        <label for="userName">User Name</label>
                        <input type="email" name="userName" id="userName" required>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div>
                        <button type="submit"><%= login ? "Log In" : "Sign Up" %></button>
                    </div>
                </form>
            </div>
            <% if(login) { %>
            <div>
                Don't have an account? <a href ='/signup'>Sign Up</a>
                </div>
            <% } %>
        </div>

    </main>
<%- include('../includes/end.ejs') %>