
    <%- include('../includes/members-header.ejs') %>
    <% if(editing) { %>
        <div>
            <h3><%= pageTitle %></h3>
        </div>
    <% } %>
    <div class="members-form">
        <%# If we are on "add member", the form action acts as normal post request. 
        If we are on "edit member", the form action is "put" req, therefore execute js function for that. 
        %>
        <% if(editing) { %>
        <form onsubmit="handleEditMember(event)">
        <% } else {%>   
        <form action="/members" method="post">
        <% } %> 
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value='<%= editing ? member.name : undefined %>' required>
            </div>
         
            <div>
                <label for="email">email</label>
                <input type="email" name="email" id="email" value='<%= editing ? member.email : undefined %>' required>
            </div>

            <div>
                <label for="city">City</label>
                <input type="text" name="city" id="city" value='<%= editing ? member.city : undefined %>' required>
            </div>
           
            <% if(editing) { %>
            <input type="hidden" name="id" value="<%= member._id %>">
            <% } %>  
            <div>
                <button type="submit"><%= editing ? 'Edit Member' : 'Add Member' %></button>
                <button onclick="location.href = '/subscriptions'; return false;">Cancel</button>
            </div>
            
        </form>
        
    </div>


</main>


<script src="/js/members.js"></script>
<%- include('../includes/end.ejs') %>